<div class='m-3'>
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @task.title %></h1>
      <%= link_to edit_task_path(@task), class: "text-decoration-none text-light btn btn-secondary" do %>
        <i class="fa-solid fa-pen"></i> Edit task
      <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <%= @task.details %>
    </div>
  </div>

  <% if @task.completed %>
    <p><i class="fa-regular fa-square-check pe-2 pt-2"></i>This task is completed.</p>
  <% else %>
    <p><i class="fa-regular fa-square pe-2 pt-2"></i>This task is not completed yet.</p>
  <% end %>

  <hr>
  <%= link_to "Back to list", tasks_path %>
</div>
